:host ::ng-deep  .p-frozen-column {
  font-weight: bold;
}
:host ::ng-deep .p-datatable-frozen-tbody {
  font-weight: bold;
}
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .bids {
    flex: 50%;
  }
  .asks {
    flex: 50%;
  }